<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevOps</title>
</head>
<body bgcolor="#c6838c">
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit"; style="background: #fd0a60; border-radius: 6px; padding: 15px; cursor: pointer; 
            color: #ffabab; border: none; font-size: 16px;">&#128591; Salvar </button></a>
        {% if transacao %}
            <a href="{% url 'url_delete' transacao.id %}"><button style="background: #c7c730; border-radius: 6px; padding: 15px; cursor: pointer; 
                color: #f2511b; border: none; font-size: 16px;">&#128683; Remover </button></a>
        {% endif %}
    </form>
</body>
</html>